@use 'fonts.scss';

#root-view {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --font: "Ubuntu";
    font-family: var(--font), sans-serif;
}
#view {
    --width: 100%;
    width: var(--width);
    height: 100%;
    --ratio: initial;
    aspect-ratio: var(--ratio);
    overflow: hidden;
    box-shadow: 0 4px 3em rgb(0 0 0 / 60%);
}
.page {
    width: 100%;
    height: 100%;
    position: relative;
}
.page-content {
    max-width: 1280px;
    margin-inline: auto;
    padding: min(6%, 2em);
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.page-title {
    font-size: 3em;
    margin-block: 0;
    font-family: Inria Serif;
    font-weight: 700;
    background: linear-gradient(180deg, #99bccf 0%, #71c1dc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 720px;
    flex-grow: 1;
    overflow-x: hidden;
    margin: auto 0;
}

.menu-btn {
    color: var(--text-color);
    background-color: #0a2f85;
    border-block: 2px solid transparent;
    padding: 0.2em 1.4em;
    clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
    box-shadow: inset 0 0 20px black;
    transition: all .2s ease-out;
    font-style: italic;

    &:hover {
        color: var(--text-color);
        border-color: #51c7ff;
        box-shadow: inset 0 0 20px #0fbbd5;
    }
}

.back-button {
    align-self: flex-start;
    margin-top: 1em;
}