@font-face {
    font-family: 'UbuntuBold';
    src: url('../assets/fonts/Ubuntu-Bold.ttf');
}

* {
    box-sizing: border-box;
}

//scrollbar
*::-webkit-scrollbar {
    width: 20px;
}
*::-webkit-scrollbar-track {
    background: #44444440;
}
*::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 4px;
}

* img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.9) contrast(1.1);
    object-position: left;
}
.page-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2em;
    height: inherit;
    width: inherit;
}

#title-menu {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: grid;
    align-items: center;
    gap: 1em;

    .logo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: min(70vh, 500px);
        object-fit: contain;
    }

    .menu {
        display: flex;
        padding: 2em 0;
        min-height: 20vh;
        margin-top: auto;
        align-items: flex-start;
        font-size: 1.3em;
        font-family: UbuntuBold, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        flex-direction: row;
        gap: 0.8em;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background: linear-gradient(180deg, #000000 0%, #001864 100%);

        a {
            all: unset;
            text-decoration: none;
            transition: var(--transition);
            user-select: none;
            text-shadow: 0 0 11px #d0d3e1;
            position: relative;

            &::before {
                content: '>';
                position: absolute;
                left: -30px;
                opacity: 0;
                transition: var(--transition);
            }

            &:hover {
                cursor: pointer;

                &::before {
                    content: '>';
                    opacity: 1;
                }
            }
        }
    }
}

#gallery {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    main {
        display: flex;
        flex-direction: column;
        gap: 2em;
        height: calc(100% - 100px);
        max-height: 660px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: .6em;
        overflow-y: scroll;
        height: inherit;
        align-content: start;
        padding: 1em;
        border-top: 1px solid;
        border-bottom: 1px solid;
        box-shadow: inset 0px 0 3px #000;

        img {
            display: block;
            aspect-ratio: 4/3;
            width: 100%;
        }
    }

    .gallery-char-container {
        display: flex;
        flex-direction: row;

        .gallery-char-item {
            all: unset;
            background-color: #00c4ff;
            position: relative;
            clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
            transition: var(--transition);
            height: 60px;
            width: min(300px, 100%);
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

            span {
                position: absolute;
                top: 0;
                bottom: 0;
                padding: .8em;
                background-image: linear-gradient(90deg, #006fff, rgba(0, 232, 255, 0.5803921569));
                color: #fff;
                text-shadow: 0 0 8px black;
                font-variant: small-caps;
                font-style: italic;
                font-size: 1.1em;
                min-width: 50%;
            }

            &:hover {
                cursor: pointer;
                scale: 1.1;
                z-index: 1;
            }

            &.selected {
                border-top: 2px solid;
                border-bottom: 2px solid;
            }
        }
    }

    .back-button {
        border-bottom: 1px solid;
        color: var(--text-color);
        text-shadow: 0 0 5px black;
        position: fixed;
        bottom: max(1em, 4vh);
        background-color: #0000004d;
        border: 1px solid #51c7ff;
        padding: 0.1em 1em;
        clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
        box-shadow: inset 0 0 20px black;

        &:hover {
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        main {
            max-height: none;
        }

        .gallery-container {
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        }

        .gallery-char-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        }
    }
}
