#endings {
    .endings-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 1em;
        background-color: var(--menu-container);
        padding: 1em;
        margin-bottom: 1em;

        .ending {
            display: flex;
            flex-direction: column;
            padding: .5em;
            font-size: clamp(1.1em, 7vmin, 1.2em);
            border-radius: 2px;
            position: relative;
            box-shadow: 0 2px 4px #000014;
    
            &.aki {
                background-image: linear-gradient(180deg, #270000 0%, #640000 100%);
            }
            &.ark {
                background-image: linear-gradient(180deg, #192700 0%, #466400 100%);
            }
            &.cel {
                background-image: linear-gradient(180deg, #001727 0%, #003464 100%);
            }
            &.his {
                background-image: linear-gradient(180deg, #270027 0%, #640064 100%);
            }
            &.koha {
                background-image: linear-gradient(180deg, #271700 0%, #646400 100%);
            }
    
            .ending-img {
                max-width: 100%;;
            }
            .ending-name {
                margin-block: .4em;
            }
            .ending-bottom {
                display: flex;
                justify-content: space-between;
                font-size: 0.8em;
                margin-top: auto;
            }
        }
    }

    .badendings-list {
        background-color: var(--menu-container);
        padding: 1em;
        gap: 1em;
        display: flex;
        flex-wrap: wrap;

        h3 {
            all: unset;
            font-size: clamp(1.1em, 7vmin, 1.2em);
            width: 100%;
            margin-bottom: .4em;
        }

        .badending {
            width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}