#gallery {
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: .6em;
        overflow-y: scroll;
        height: inherit;
        align-content: start;
        padding: 1em;
        background-color: #0000004f;
        flex: 1;

        a {
            overflow: hidden;
            height: max-content;
        }
        img {
            display: block;
            aspect-ratio: 4/3;
            width: 100%;
        }
        .h img {
            filter: blur(12px);
            transition: var(--transition);

            &:hover {
                filter: blur(0);
            }
        }
    }

    .gallery-char-container {
        display: flex;
        flex-direction: row;

        .gallery-char-item {
            all: unset;
            background-color: #0a2f85;
            position: relative;
            clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
            transition: var(--transition);
            width: min(300px, 100%);
            border-block: 2px solid transparent;
            box-shadow: inset 0 0 20px black;
            padding: 0 18px;

            span {
                color: #fff;
                text-shadow: 0 0 8px black;
                font-style: italic;
                font-size: 1.4em;
                min-width: 50%;
            }

            &:hover {
                cursor: pointer;
            }

            &.selected, &:hover {
                border-block: 2px solid #51c7ff;
            }
        }
    }

    @media (max-width: 768px) {
        main {
            max-height: none;
        }

        .gallery-container {
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        }

        .gallery-char-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
            overflow-x: scroll;

            .gallery-char-item {
                grid-row: 1;
            }
        }
    }
}
