#gallery {
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: .6em;
        overflow-y: scroll;
        height: inherit;
        align-content: start;
        padding: 1em;
        background-color: var(--menu-container);
        flex: 1;

        a {
            overflow: hidden;
            height: max-content;

            &:hover img {
                transform: scale(1.1);
            }
        }
        img {
            display: block;
            aspect-ratio: 4/3;
            width: 100%;
            transition: .2s ease-out;
        }
        .blur img {
            filter: blur(12px);
            transition: var(--transition);

            &:hover {
                filter: blur(0);
            }
        }
    }

    @media (max-width: 768px) {
        main {
            max-height: none;
        }

        .gallery-container {
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        }
    }
}
