//import from asset font
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

:root {
    --text-color: #e7e7e7;
    --read-text-color: #c5e1ff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.window {
    color: var(--text-color);
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 1.1em;
    font-family: Ubuntu, sans-serif;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    .box-characters {
        z-index: 1;
        width: inherit;
        height: inherit;
        position: absolute;
        overflow: hidden;

        .img-container {
            position: absolute;
            bottom: 0;
            overflow: hidden;
            height: 100%;
            left: 0;
            right: 0;
            display: flex;

            &.c {
                justify-content: center;
            }
            &.l {
                justify-content: flex-start;
            }
            &.r {
                justify-content: flex-end;
            }

            img {
                height: inherit;
                object-fit: cover;
            }
        }
    }
    .box-text {
        z-index: 2;
        user-select: none;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 6%, rgba(0, 0, 0, 0.5) 94%, rgba(0, 0, 0, 0.2) 100%);
        padding: 6% 8%;;
        width: inherit;
        height: inherit;
        text-shadow: 0 0 5px #000;
        line-height: 1.6em;
        letter-spacing: 1px;

        &#history {
            z-index: -1;
            position: absolute;
            background-image: linear-gradient(180deg, rgb(9 96 137) 0%, rgb(44 38 139) 100%);
            color: var(--read-text-color);
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            padding-bottom: 40vh;

            &.show {
                z-index: 100;
            }

            //scrollbar
            &::-webkit-scrollbar {
                width: 20px;
            }
            &::-webkit-scrollbar-track {
                background: #44444440;
            }
            &::-webkit-scrollbar-thumb {
                background: #a7a7a7;
                border-radius: 4px;
            }
        }
    }
    .box-choices {
        z-index: 3;
        width: inherit;
        height: inherit;
        position: absolute;
        background-color: #0006;

        .choices-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        button {
            background: linear-gradient(90deg, #255094 0%, rgb(10 104 171) 100%);
            clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
            border: 0;
            padding: .6em 1em;
            margin: 1em;
            max-width: 90%;
            font-size: 1.2em;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: brightness(1.1);
            }
        }
    }
}