:root {
    --text-color: #fff;
    --read-text-color: #c5e1ff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.window {
    color: var(--text-color);
    text-shadow: 0 0 5px #000;
    display: flex;
    height: 100vh;
    width: 100vw;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    .box-characters {
        z-index: 1;
        width: inherit;
        height: inherit;
        position: absolute;
        overflow: hidden;

        //don't show the first left half of the image
        .img-container {
            position: absolute;
            bottom: 0;
            overflow: hidden;
            width: 50%;
            height: 100%;
            left: 0;
            right: 0;

            &.c {
                margin: 0 auto;
            }
            &.l {
                left: -50%;
            }
            &.r {
                right: -50%;
            }

            img {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
            }
            
        }
    }
    .box-text {
        z-index: 2;
        user-select: none;
        background-color: #0006;
        padding: 2em;
        width: inherit;
        height: inherit;

        &#history {
            z-index: -1;
            position: absolute;
            background-image: linear-gradient(180deg, rgb(4 34 48) 0%, rgb(17 15 48) 100%);
            color: var(--read-text-color);
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            padding-bottom: 40vh;

            &.show {
                z-index: 100;
            }
        }
    }
    .box-choices {
        z-index: 3;
        width: inherit;
        height: inherit;
        position: absolute;
        background-color: #0006;

        .choices-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        button {
            background: linear-gradient(90deg, #255094 0%, rgb(10 104 171) 100%);
            clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
            border: 0;
            padding: .6em 1em;
            margin: 1em;
            max-width: 90%;
            font-size: 1.2em;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: brightness(1.1);
            }
        }
    }
}