#saves {

}

#saves-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    flex: 1;
    overflow-x: hidden;

    .saves {
        display: flex;
        flex-direction: column;
        gap: .4em;
        overflow-x: hidden;
        font-size: 1.1em;
        letter-spacing: 1px;
        background-color: var(--menu-container);
        padding: 1em;

        .save-container {
            position: relative;
            background: #030312;
            display: flex;
            flex-direction: row;
            transition: all .2s ease-out;
            min-height: 100px;
            overflow: hidden;

            &.create {
                justify-content: center;
                align-items: center;
                font-size: 1.4em;
            }

            .deta {
                padding: 1em;
                min-width: 0;
                width: 100%;

                .date {
                    display: flex;
                    column-gap: .6em;
                    flex-flow: wrap;
                }
                .line {
                    font-style: italic;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 50ch;
                    color: #9d9d9d;
                }
            }

            .graphics {
                height: 100%;
            }

            &:hover, &:focus-visible {
                cursor: pointer;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 29px 0px rgba(3, 193, 235, 0.88) inset;
            }
        }
    }

    .info {
        overflow: hidden;
        background-image: linear-gradient(180deg, #00000000 0%, #030312 20%, #030312 80%, #00000000 100%);
        display: flex;
        position: relative;
        min-width: 220px;

        .graphics {
            width: 100%;
            height: 100%;
            position: absolute;
            filter: brightness(0.8);
        }

        .deta {
            z-index: 0;
            align-self: flex-end;
            background-color: rgb(11 25 33 / 97%);
            padding: .8em;
            border-radius: 8px;
            margin: .4em;
            flex: 1;
            border: 2px solid #000;
            display: flex;
            flex-direction: column;

            .actions {
                align-self: flex-end;
                display: flex;

                button {
                    padding: 2px 6px;
                    font-size: .8em;
                    opacity: .8;
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                        color: #0fbbd5;
                        opacity: 1;
                    }
                }

                button:not(:last-of-type) {
                    border-right: 1px solid grey;
                }
            }
        }
    }

    .graphics {
        position: relative;
        display: grid;
        aspect-ratio: 4/3;
        grid-template-columns: 1fr 3fr 2fr 3fr 1fr;

        div {
            height: 100%;
            width: 100%;

            &.l, &.c, &.r {
                position: relative;
                overflow: visible;
                grid-row: 1;
                display: grid;

                img {
                    position: absolute;
                    bottom: 0;
                    justify-self: center;
                    height: inherit;
                    object-fit: cover;
                }
            }

            &.l { grid-column: 2; }
            &.c { grid-column: 3; }
            &.r { grid-column: 4; }

            &.bg {
                position: absolute;
                overflow: hidden;
                inset: 0;
                display: block;
                width: inherit;

                img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;

                    &.blur {
                        filter: blur(20px);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr;

        .info {
            grid-row: 1;

            .deta {
                flex: initial;
                margin-left: auto;
                align-self: auto;

                .actions {
                    margin-top: auto;
                }
            }
        }
    }
}
