@import url(fonts.scss);

#saves {

}

#saves-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    flex: 1;
    overflow-x: hidden;

    .saves {
        display: flex;
        flex-direction: column;
        gap: .4em;
        overflow-x: hidden;

        .save-container {
            background: #D9D9D9;
            box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.25) inset;
            display: flex;
            flex-direction: row;
            color: #000;
            transition: all .4s ease-out;
            display: flex;

            &.create {
                justify-content: center;
                align-items: center;
                font-size: 1.4em;
                padding: 1em;
            }

            .deta {
                padding: 1em;
                min-width: 0;
                width: 100%;

                .date {
                    color: #031989;
                    font-size: larger;
                    b {
                        font-weight: bold;
                    }
                }
                .line {
                    font-style: italic;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 46ch;
                }
            }

            .graphics {
                height: 100%;
            }

            &:hover {
                cursor: pointer;
                background: linear-gradient(180deg, #1224C3 0%, #0E7CAB 100%);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 29px 0px rgba(3, 193, 235, 0.88) inset;
            }
        }
    }

    .info {
        overflow: hidden;
        background-image: linear-gradient(180deg, #00000000 0%, rgba(14, 14, 79, 0.568627451) 20%, rgba(14, 14, 79, 0.568627451) 80%, #00000000 100%);

        .graphics {
            width: 100%;
            height: unset;
        }
    }

    .graphics {
        position: relative;
        display: grid;
        aspect-ratio: 4/3;
        grid-template-columns: 1fr 3fr 2fr 3fr 1fr;

        div {
            height: 100%;
            width: 100%;

            &.l, &.c, &.r {
                position: relative;
                overflow: visible;
                grid-row: 1;
                display: grid;

                img {
                    position: absolute;
                    bottom: 0;
                    justify-self: center;
                    height: inherit;
                    object-fit: cover;
                }
            }

            &.l { grid-column: 2; }
            &.c { grid-column: 3; }
            &.r { grid-column: 4; }

            &.bg {
                position: absolute;
                overflow: hidden;
                inset: 0;
                display: block;
                width: inherit;

                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }

    @media screen and (max-width: 860px) {
        grid-template-columns: 1fr;
        .info { // will have to find a good way to display it
            display: none;
        }
    }
}
