#saves {

}

#saves-layout {
    display: grid;
    grid-template-areas:
        "title title"
        "list info"
        "buttons buttons";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 1em;
    flex: 1;
    overflow-x: hidden;
    font-size: clamp(.9em, 4vmin, 1.1em);

    .page-title {
        grid-area: title;
    }
    .saves {
        grid-area: list;
        display: flex;
        flex-direction: column;
        gap: .4em;
        overflow-x: hidden;
        letter-spacing: 1px;
        background-color: var(--menu-container);
        padding: 1em;

        .save-container {
            --bg-color: #030312;
            position: relative;
            background: var(--bg-color);
            display: flex;
            flex-direction: row;
            transition: all .2s ease-out;
            min-height: clamp(84px, 25%, 100px);
            overflow: hidden;

            &.create, &.import {
                justify-content: center;
                align-items: center;
                font-size: 1.4em;
            }
            &.import {
                border: 2px dashed var(--active);
            }

            .deta {
                padding: 1em;
                min-width: 0;
                width: 100%;

                .date {
                    display: flex;
                    column-gap: .6em;
                    flex-flow: wrap;
                }
                .line {
                    font-style: italic;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 50ch;
                    color: #9d9d9d;
                }
            }

            .graphics {
                height: 100%;
                font-size: 30%;
            }

            &:hover, &:focus-visible {
                cursor: pointer;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 29px 0px rgba(3, 193, 235, 0.88) inset;
            }

            &[quick-save]:after {
                position: absolute;
                bottom: 0;
                right: 0;
                content: "Quick Save";
                opacity: 50%;
                font-size: 80%;
                font-style: italic;
                background: rgba(255, 255, 255, 0.1);
                border-top-left-radius: 1.5em;
                padding-left: 1.5em;
                padding-right: 0.5em;

            }
        }
    }

    .info {
        grid-area: info;
        overflow: hidden;
        background-image: linear-gradient(180deg, #00000000 0%, #030312 20%, #030312 80%, #00000000 100%);
        display: flex;
        position: relative;

        .graphics {
            width: 100%;
            height: 100%;
            position: absolute;
            filter: brightness(0.8);
        }

        .deta {
            z-index: 0;
            align-self: flex-end;
            background-color: rgb(11 25 33 / 90%);
            padding: .8em;
            border-radius: 8px;
            margin: .4em;
            flex: 1;
            border: 2px solid #000;
            display: flex;
            flex-direction: column;
            font-size: .9em;

            .actions {
                align-self: flex-end;
                display: flex;

                button {
                    padding: 2px 6px;
                    font-size: .8em;
                    opacity: .8;
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                        color: #0fbbd5;
                        opacity: 1;
                    }
                }

                button:not(:last-of-type) {
                    border-right: 1px solid grey;
                }
            }
        }
    }

    .save-buttons {
        grid-area: buttons;
    }

    .graphics {
        aspect-ratio: 4/3;
    }

    @media screen and (max-width: 720px) and (orientation: portrait) {
        grid-template-areas:
            "title"
            "info"
            "list"
            "buttons";
        grid-template-columns: 1fr;
        grid-template-rows: min-content 120px 1fr min-content;

        .info {
            .deta {
                flex: initial;
                margin-left: auto;
                align-self: auto;

                .actions {
                    margin-top: auto;
                }
            }
        }
    }

    @media screen and (max-height: 480px) and (orientation: landscape) {
        grid-template-areas:
            "list title"
            "list info"
            "list buttons";
    }
}
