@use 'particles' as *;

#title-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;

    .logo {
        display: flex;
        overflow: hidden;
        margin: 1em;
        justify-content: center;
        filter: drop-shadow(0 0 8em rgb(49, 255, 255));
        flex: 8;

        img {
            height: 100%;
            width: min(94%, 400px);
            object-fit: contain;
        }
    }

    .info-icon {
        position: absolute;
        right: 1em;
        top: 1em;
        font-size: 1.4em;
        transition: var(--transition);
        margin: .2em;
        padding: .2em;
        border-radius: 50%;
        display: flex;

        &:hover {
            cursor: pointer;
            color: rgb(10 164 171);
            background-color: #0000009e;
        }
    }

    .menu {
        flex: 1;
        display: flex;
        margin-bottom: min(10%, 3em);
        font-size: clamp(1.1em, 7vmin, 1.3em);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        flex-direction: row;
        row-gap: .6em;
        column-gap: 1.4em;
        justify-content: space-evenly;
        width: min(800px, 100%);
        align-items: flex-end;

        .menu-item {
            all: unset;
            text-decoration: none;
            transition: var(--transition);
            user-select: none;
            text-shadow: 0 0 8px #d0d3e1;
            position: relative;
            border-bottom: 1px solid transparent;
            padding-top: 6px;
            padding-bottom: 0;

            &:hover, &:focus-visible {
                cursor: pointer;
                color: rgb(10 164 171);
                text-shadow: 1px 0 5px rgb(14 79 187), 1px 0 6px rgba(28, 147, 147, 0.5215686275);
                border-color: initial;
                padding-top: 0;
                padding-bottom: 6px;
            }
        }
    }

    @media (max-width: 868px) {
        .menu {
            flex-direction: column;
            align-items: center;
        }
    }
    @media ((max-width: 868px) or (max-height: 300px)) and (orientation: landscape) {
        flex-direction: row;
        .logo {
            flex: 1;
            max-height: 100%;

            img {
                height: auto;
            }
        }
        .menu {
            margin-bottom: 0;
        }
    }
}

.overlay {
    .modal {
        max-height: 70vh;
        overflow-y: auto;
    }

    .title-modal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3em;
        font-size: 1.1em;

        .links {
            display: flex;
            flex-direction: column;
            gap: 1em;

            & > div {
                border-radius: 6px;
                padding: 1em;
                background-color: #00000066;
            }
        }
        .tsuki-remake {
            display: flex;
            flex-direction: column;
            gap: .6em;

            img {
                display: block;
                max-width: 240px;
                width: 100%;
                max-height: 80%;
                object-fit: contain;
            }
        }
    }

    @media screen and (max-width: 520px) {
        .title-modal {
            grid-template-columns: 1fr;
            gap: 1em;

            .tsuki-remake {
                flex-direction: row;
            }
        }    
    }
}


/** Disclaimer **/
#disclaimer {
    &.page {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000206;
    }
    .box {
        max-width: 680px;
        text-align: center;
        border: 1px solid #00628b;
        padding: 2em;
        margin: 1em;

        p {
            font-size: clamp(.92em, 3.6vmin, 1.25em);
            line-height: clamp(1.52em, 4.6vmin, 1.6em);
            text-shadow: #000 1px 1px 1px, #000 -1px 1px 1px, #000 -1px -1px 1px, #000 1px -1px 1px;
            letter-spacing: 1px;
        }
    }
}