@use 'partials/particles';

#title-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;

    .logo {
        display: flex;
        margin: 1em;
        justify-content: center;
        flex: 8;
        min-height: 0;
        position: relative;

        .moon {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 600px;
            background-size: contain;
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0 0 0 / 1%), rgb(0 0 0 / 20%));
            -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0 0 0 / 1%), rgb(0 0 0 / 20%));
            filter: drop-shadow(0 0 12px rgb(228, 255, 255));
        }

        img {
            height: 100%;
            width: min(94%, 400px);
            object-fit: contain;
        }
    }

    %top-actions {
        transition: var(--transition);
        position: absolute;
        top: 1em;
        padding: 4pt;
    }
    .info-icon {
        @extend %top-actions;
        right: 1.2em;
        font-size: 1.4em;
        display: flex;
        border-radius: 5pt;

        &:hover {
            background-color: #0000008c;
        }
    }

    .pwa-install {
        @extend %top-actions;
        right: 5em;
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;
        height: 34px;
        background-image: linear-gradient(to right, #07162f,#0d346d,#07162f);
        box-shadow: 0 0 0px 1px #005299;

        &:hover {
            filter: brightness(1.2);
            box-shadow: 0 0 2px 1px #ffffff;
        }

        img {
            height: 100%;
        }
    }

    .menu {
        flex: 1;
        margin-bottom: 2em;
        width: min(800px, 100%);
        font-size: 1.4em;

        .first-row, .second-row {
            display: flex;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            flex-direction: row;
            row-gap: .4em;
            column-gap: 2em;
            justify-content: center;
            align-items: flex-start;
        }
        .first-row {
            .extra {
                display: none;
            }
        }
        .second-row {
            margin-top: 1em;
            font-size: .7em;
        }

        .menu-item {
            all: unset;
            text-decoration: none;
            transition: var(--transition);
            user-select: none;
            text-shadow: 0 0 8px #d0d3e1;
            position: relative;
            border-bottom: 1px solid transparent;
            padding-top: 6px;
            padding-bottom: 0;

            &:hover, &:focus-visible {
                cursor: pointer;
                color: rgb(10 164 171);
                text-shadow: 0 0 6px #005aff;
                border-color: initial;
                padding-top: 0;
                padding-bottom: 6px;
            }
            &.disabled, &:disabled {
                pointer-events: none;
                opacity: .4;
                text-shadow: 0 0 2px #d0d3e1;
            }
        }
    }

    @media (max-width: 800px) {
        .menu {
            .first-row, .second-row {
                flex-direction: column;
                align-items: center;
            }
            .first-row {
                margin-top: 1em;
                .extra {
                    display: block;
                }
            }
            .second-row {
                display: none;
            }
        }
    }
    @media ((max-width: 800px) or (max-height: 300px)) and (orientation: landscape) {
        flex-direction: row;
        .logo {
            flex: 1;
            max-height: 85%;

            img {
                height: auto;
            }
        }
        .menu {
            margin-bottom: 0;
        }
    }
}

.overlay {
    .modal {
        max-height: 70vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .title-modal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3em;
        font-size: 1.1em;
        flex-grow: 1;

        .links {
            display: flex;
            flex-direction: column;
            gap: 1em;

            & > div {
                border-radius: 6px;
                padding: 1em;
                background-color: #00000066;
            }
        }
        .tsuki-remake {
            display: flex;
            flex-direction: column;
            gap: .6em;

            img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    @media screen and (max-width: 520px) {
        .title-modal {
            grid-template-columns: 1fr;
            gap: 1em;

            .tsuki-remake {
                flex-direction: row;
            }
        }
    }
}


/** Disclaimer **/
#disclaimer {
    &.page {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000206;
    }
    .box {
        max-width: 680px;
        text-align: center;
        border: 1px solid #00628b;
        padding: 2em;
        margin: 1em;

        p {
            font-size: clamp(.92em, 3.6vmin, 1.25em);
            line-height: clamp(1.52em, 4.6vmin, 1.6em);
            text-shadow: #000 1px 1px 1px, #000 -1px 1px 1px, #000 -1px -1px 1px, #000 1px -1px 1px;
            letter-spacing: 1px;
        }
    }
}